<div class="container my-5">
    <div style="margin-top: 10px ; padding-bottom: 20px;">
        <div class="form-inline md-form form-sm mt-0 active-cyan active-cyan-2 ">
          <i class="fa fa-search fa-2x text-primary" aria-hidden="true"></i
          ><input
            class="form-control form-control-sm "
            type="text"
            placeholder="Sort by name ..."
            aria-label="search"
            [(ngModel)]="filterName"
          />
        </div>
      </div>

    <div class="row">
        <div class=" col-xl-8 offset-xl-2">
            <div class=" row">
                <div *ngFor="let pokemon of pokemons | searchFilter: filterName:'name'; let i = index " class=" col-md-6">
                    <div style="border-radius: 15px 50px;font-family: 'Ubuntu', sans-serif; font-size: 25px;" class="card mb-3 bg-{{getType(pokemon)}}"
                        [routerLink]="['/view', pokemon.name]">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7 col-sm-8">
                                    <h3 style ="font-family: 'Ubuntu', sans-serif; font-size: 30px;"class="card-title">{{pokemon.name | titlecase}}</h3>
                                    <span style ="border-radius: 50px 15px;background-color: burlywood;" *ngFor="let type of pokemon.types"
                                        class="badge border  me-1 bg-{{getType(pokemon)}}">
                                        {{type.type.name | titlecase}}
                                    </span>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png"
                                        class="img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <button class="btn draw-border" (click)="loadMore()">
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></div>
                {{loading ? 'Loading...' : 'Load More'}}
            </button>
        </div>
    </div>
</div>