<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="mainContainer">
    <div id="topContainer">
    </div>
    <div id="buttonContainer">
        <a href="https://instagram.com/dipta.panda" target="_blank">
            <button class="roundbtn btn btn-light" type="button"><i
                    class="fa fa-instagram fa-lg"></i></button></a>
        <a href="https://www.linkedin.com/in/dipta-panda/" target="_blank">
            <button class="roundbtn btn btn-light" type="button"><i
                    class="fa fa-linkedin fa-lg"></i></button></a>
        <a href="https://github.com/wlommusic" target="_blank">
            <button class="roundbtn btn btn-light" type="button"><i class="fa fa-github fa-lg"></i></button></a>
        <a href="https://open.spotify.com/artist/3VAsl4hVBSwi1Z2Ysb9kuf" target="_blank">
            <button class="roundbtn btn btn-light" type="button"><i class="fa fa-spotify fa-lg"></i></button></a>
    </div>
    <div id="bottomContainer">
    </div>
</div>